<template>
  <Layout>
    <h1>Bio</h1>
    <p>
      Viktor likes developing web apps and helping businesses make use of the
      power of the web.
    </p>
    <p><a href="https://github.com/viktorfa">https://github.com/viktorfa</a></p>
  </Layout>
</template>

<page-query>
query {
  metadata {siteUrl}
}
</page-query>

<script>
import { getAllMetaTags } from "@/helpers";

export default {
  metaInfo() {
    return {
      title: "Bio",
      meta: getAllMetaTags({
        title: "Bio",
        image_url: `https://1u7zvh9ui5.execute-api.eu-central-1.amazonaws.com/dev/create?title=${"Bio"}&subtitle=Viktor Andersen&color=${encodeURIComponent(
          "hsl(45, 100%, 50%)",
        )}&backgroundColor=${encodeURIComponent("#121212")}`,
        site_url: `${this.$page.metadata.siteUrl}/bio`,
      }),
    };
  },
};
</script>
