<template>
  <Layout>
    <h1>Contact</h1>
    <p>
      Please contact me via email or Twitter DM. My email starts with vikfand
      and ends with the gmail domain. My Twitter handle is
      <a href="https://twitter.com/vikfand">@vikfand</a>.
    </p>
  </Layout>
</template>

<page-query>
query {
  metadata {siteUrl}
}
</page-query>

<script>
import { getAllMetaTags } from "@/helpers";

export default {
  metaInfo() {
    return {
      title: "Contact",
      meta: getAllMetaTags({
        title: "Contact",
        image_url: `https://1u7zvh9ui5.execute-api.eu-central-1.amazonaws.com/dev/create?title=${"Contact"}&subtitle=Viktor Andersen&color=${encodeURIComponent(
          "hsl(45, 100%, 50%)",
        )}&backgroundColor=${encodeURIComponent("#121212")}`,
        site_url: `${this.$page.metadata.siteUrl}/contact`,
      }),
    };
  },
};
</script>
