<template>
  <Layout>
    <h1>Projects</h1>
    <Project
      v-for="{ node } in $page.projects.edges"
      v-bind:key="node.id"
      v-bind:title="node.title"
      v-bind:image="node.image"
      v-bind:image2="node.image2"
      v-bind:image3="node.image3"
      v-bind:content="node.content"
    />
  </Layout>
</template>

<script>
import Project from "@/components/Project";
import { getAllMetaTags } from "@/helpers";

export default {
  components: {
    Project,
  },

  metaInfo() {
    return {
      title: "Projects",
      meta: getAllMetaTags({
        title: "Projects",
        image_url: `https://1u7zvh9ui5.execute-api.eu-central-1.amazonaws.com/dev/create?title=${"Projects"}&subtitle=Viktor Andersen&color=${encodeURIComponent(
          "hsl(45, 100%, 50%)",
        )}&backgroundColor=${encodeURIComponent("#121212")}`,
        site_url: `${this.$page.metadata.siteUrl}/`,
      }),
    };
  },
};
</script>

<page-query>
query {
  metadata {siteUrl}
  projects: allProject(sortBy: "order", order: DESC) {
    edges {
      node {
        id
        title
        content
        image
        image2
        image3
      }
    }
  }
}
</page-query>

<style></style>
