<template>
  <div
    style="width: 100vw; overflow-y: auto; position: fixed; top: 0; bottom: 0; left: 0; background-color: #000000aa; display: flex; flex-direction: column; justify-content: center;"
    @click="close"
    ref="image-gallery"
  >
    <div style="min-height: 100%;">
      <div
        style="padding: 0.5rem; display: flex; justify-content: space-between;"
      >
        <h1 style="margin: 0;">{{ title }}</h1>
        <button
          style="background-color: transparent; color: white; border-width: 0; font-size: 2rem;"
        >
          x
        </button>
      </div>
      <div
        style="padding: 0.5rem; display: flex; justify-content: center;"
        v-for="image in images"
        :key="image.src"
      >
        <g-image
          style="max-width: 100%; display: block; width: auto; height: auto; max-height: 100vh;"
          :src="image"
          :alt="title"
        ></g-image>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ImageGallery",
  props: {
    title: { type: String, required: true },
    images: { type: Array },
    close: { type: Function, required: true },
  },
  mounted() {
    this.$refs["image-gallery"].scroll(0, 0);
  },
};
</script>

<style></style>
