<template>
  <nav>
    <div class="menu-title">
      <g-link to="/">Viktor Andersen</g-link>
    </div>
    <div class="menu-links">
      <ul>
        <li>
          <g-link to="/contact" class="navbar-link">Contact</g-link>
        </li>
        <li>
          <g-link to="/bio" class="navbar-link">Bio</g-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
.menu-links > ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.menu-links > ul > li {
  padding: 0 0.2rem;
}
nav {
  position: fixed;
  height: var(--sidebar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  background: var(--main-bg-color);
  font-weight: bold;
  width: 100vw;
}

nav > div:nth-child(1) {
  padding-left: calc(1 * var(--body-side-margin));
}
nav > div:nth-last-child(1) {
  padding-right: calc(1 * var(--body-side-margin));
}

.menu-links {
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
}

.navbar-link.active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  nav {
    background: transparent;
    width: var(--sidebar-width);
    font-size: 2.5rem;
    padding: 0.5rem;
    display: block;
  }
  .menu-links > ul {
    display: block;
  }
}
</style>
