<template>
  <div class="project">
    <h2 class="project-title">{{ title }}</h2>
    <div>
      <div v-html="content"></div>
    </div>
    <div class="image-gallery">
      <div
        :class="
          `image-container ${
            image.size.width > image.size.height ? 'image-wide' : 'image-tall'
          }`
        "
        v-for="image in images"
        :key="image.id"
      >
        <div class="image-wrapper">
          <g-image
            class="project-image"
            :src="image"
            @click="
              selectedImageProject = [
                image,
                ...images.filter((x) => x.src !== image.src),
              ];
              showGallery = true;
            "
          ></g-image>
        </div>
      </div>
    </div>
    <ImageGallery
      :key="title"
      v-show="showGallery === true"
      :images="selectedImageProject"
      :title="title"
      :close="() => (showGallery = false)"
    />
  </div>
</template>

<script>
import ImageGallery from "./ImageGallery";

export default {
  props: {
    title: String,
    image: Object,
    image2: Object,
    image3: Object,
    content: String,
  },
  components: {
    ImageGallery,
  },
  data() {
    return {
      selectedImageProject: null,
      showGallery: false,
    };
  },
  computed: {
    // Kinda hard to get a list of images from markdown, so we make
    // a list from separate frontmatter keys.
    images() {
      return [this.image, this.image2, this.image3].filter((x) => !!x);
    },
  },
};
</script>

<style>
.project-title {
  border-bottom: 2px solid var(--main-text-color);
  grid-column-start: 1;
  grid-column-end: 3;
}
.project {
  display: block;
}
.project p {
  margin-top: 0;
}

td {
  color: var(--t2);
  vertical-align: top;
}

td:first-child {
  width: 14ch;
}

@media screen and (min-width: 768px) {
  .project {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1 1;
  }
  .project-title {
    max-width: calc(100% * 5 / 9);
  }
  .project-image {
    max-width: 360px;
  }
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 calc(-1 * var(--body-side-margin));
}
@media screen and (min-width: 768px) {
  .image-gallery {
    margin: 0;
    margin-left: 0.5rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}
.image-container.image-wide {
  width: 100%;
}
.image-container.image-tall {
  width: 50%;
}
.image-wrapper {
  border: solid 1px #444;
  border-radius: 4px;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  background-color: #222;
  display: inline-table; /* Weird trick to make it not grow in height... */
}
.project-image {
  max-height: 280px;
  max-width: 100%;
}
</style>
