:root {
  --main-text-color: #e4d9d9;
  --main-bg-color: #121212;
  --main-link-color: hsl(45, 100%, 50%);
  --t2: hsl(126, 60%, 50%);
  --sidebar-width: 260px;
  --topbar-height: 60px;
  --body-side-margin: 0.5rem;
}

a,
a:visited,
a:active,
a:link,
a:focus,
a:hover {
  color: var(--main-link-color);
  text-decoration: none;
  outline: 0;
}

body {
  margin: 0;
}

@import url(./fonts.css);
